<!DOCTYPE html>

<html>
	<head>
		<title>
			Play Game | Tic Tac Toe Game
		</title>

		<script
			src="/service/module/react/react.production.min.js"
			type="application/javascript"
		>
		</script>
		<script
			src="/service/module/react-dom/react-dom.production.min.js"
			type="application/javascript"
		>
		</script>
		<script
			src="/service/module/babel-standalone/babel.min.js"
			type="application/javascript"
		>
		</script>

		<link
			href="/service/style/game/tic-tac-toe/play-game-view-container.css"
			type="text/css"
			rel="stylesheet"
		>
		<link
			href="/service/style/game/tic-tac-toe/play-game-view-component.css"
			type="text/css"
			rel="stylesheet"
		>
		<script
			src="/service/component/game/tic-tac-toe/play-game-view-component.jsx"
			type="text/babel"
		>
		</script>
	</head>
	<body>
		<section
			class="
				play-game-view-container
				view-container
			"

			id="play-game-view-container"
		>
		</section>
	<body>
</html>
